body {
	color: #b6b5ca;
	font-family: 'Arial', sans-serif;
	margin: 0;
	text-align: center;
}

h3 {
	font-weight: 400;
	padding: 0 20px;
}

.board {
	width: 350px;
	height: 303px;
	margin: 50px auto 30px auto;
	position: relative;
}

.cell {
	border-radius: 14px;
	border-color: 0;
	border-width: 0;
	color: #fff;
	background-color: #78bec5;
	width: 90px;
	height: 90px;
	left: 0;
	text-decoration: none;
	outline: none;
}